@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');
*{
  margin: 0;
  padding: 0;
}
nav{
  position: relative;
}
.nav-mid{
  padding: .8rem 6rem;
  box-shadow: 2px 2px 8px rgb(206, 201, 201);
  font-family: Arial, Helvetica, sans-serif;
}
.nav-left{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 5rem;
  box-shadow: 2px 2px 8px rgb(221, 217, 217);
  background-color: #fff;
}
.nav-right{
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 5rem;
  box-shadow: 2px 2px 8px rgb(117, 114, 114);
  z-index: "1";
  background-color: #fff;
}
ul li{
  list-style-type: none;
}
.mid-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.mid-nav-left>ul{
  display: flex;
  align-items: center;
  grid-gap: 1rem;
}
.mid-nav-left .logo{
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}
.mid-nav-right>div{
  display: flex;
  align-items: center;
  border: 1px solid rgb(192, 188, 188);
  font-size: .9rem;
  color: rgb(173, 173, 173);
  padding: .3rem .2rem;
  border-radius: .3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.mid-nav-right>div>span{
  border: 1px solid rgb(192, 188, 188);
  border-radius: 50%;
  margin: 0 .3rem;
}
.mid-nav-right>div>span .logo{
  font-size: .7rem;
  padding: .2rem;
}
.left-nav>ul>li{
  margin: 0 .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: .3rem .7rem;
  color: rgb(109, 105, 105);
  margin-bottom: 1.7rem;
  border: 1.5px solid #fff;
}
.left-nav>ul>li>span>.logo{
  margin: .3rem 0;
  text-align: center;
  font-size: 1.5rem;
}
.left-nav>ul>li>P{
  font-size: .7rem;
  text-align: center;
  font-weight: 500;
}
.left-nav>ul>.active{
  color: blueviolet;
}
.left-nav>ul>.active-hover{
  border: 1.5px solid blueviolet;
  color: blueviolet;
  border-radius: .5rem;
}
.right-nav img{
  width: 2rem;
  border-radius: 25%;
}
.right-nav>ul>li{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: .3rem;
  font-size: 1.5rem;
  color: rgb(109, 105, 105);
  cursor: pointer;
}
.icon{
  position: relative;
}
.icon>span{
  font-size: .9rem;
  color: rgb(72, 235, 72);
  position: absolute;
  right: 1.6rem;
  top: -2px;
  z-index: 1;
}
.profile{
  position: relative;
}
.profile>span{
  font-size: .9rem;
  position: absolute;
  z-index: 1;
  color: blueviolet;
  left: 1.3rem;
  top: 1.4rem;
}

main{
  position: absolute;
  left: 7rem;
  right: 7rem;
  top: 5.5rem;
}
.main{
  width: 100%;
  height: 85vh;
  box-shadow: 2px 2px 8px rgb(160, 157, 157);
  display: grid;
  grid-template-columns: 11rem 1fr;
  border-radius: 1rem;
}
.main-right{
  border-radius: 1rem;
  box-shadow: 2px 2px 8px rgb(160, 157, 157);
}
.main-left>div{
  color: rgb(139, 134, 134);
  padding: 1rem .7rem;
  border-bottom: 2px solid rgb(184, 179, 179);
  opacity: .5;
}
.main-left>ul>li{
  border-left: 3px solid #fff;
  color: rgb(156, 156, 156);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: .9rem;
  padding: .5rem .7rem;
  display: flex;
  align-items: center;
  grid-gap: .4rem;
  cursor: pointer;
  font-weight: 600;
}
.main-left>ul>li>span{
  font-size: 1rem;
}
.main-left>ul>.active{
  border-left: 4px solid blueviolet;
  color: blueviolet;
  background-color: rgb(235, 232, 232);
}
.main-right{
  position: relative;
}
.main-right>.cancel{
  position: absolute;
  right: .8rem;
  top: .8rem;
  font-size: 1.7rem;
  color: rgb(100, 100, 100);
  font-weight: 300;
  cursor: pointer;
  opacity: .6;
}
.main-right>button{
  background-color: blueviolet;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #fff;
  border: none;
  padding: .6rem 2rem;
  font-size: .8rem;
  cursor: pointer;
  position: absolute;
  bottom: 1rem;
  right: 3rem;
  font-weight: 600;
  border-radius: .5rem;
}
/* ----------------checkbox------------------ */
.switch{
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 1rem;
  margin: 0 5px;
}
.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(148, 148, 148);
  transition: .4s;
  border-radius: 17px;
}
.switch input{
  display: none;
}
.slider:before{
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 3px;
  bottom: 3px;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 9px;
}
input:checked + .slider{
  background-color: rgb(112, 214, 146);
}
input:checked + .slider:before{
  transform: translateX(17px);
}
/* ----------------checkbox------------------ */
.main-right>div{
  margin-top: 2.5rem;
  margin-left: 7rem;
  margin-right: 17rem;
  font-family: 'Alegreya Sans', sans-serif;
}
.head-div{
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr 3rem 2rem;
  align-items: center;
  padding-bottom: .5rem;
  border-bottom: 1px solid rgb(197, 197, 197);
}
.head-div>p{
  display: flex;
  align-items: center;
  grid-gap: .5rem;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: blueviolet;
}
.head-div>p>span{
  margin-top: .2rem;
}
.head-div>span{
  font-size: 2.5rem;
  margin-top: .3rem;
  color: blueviolet;
}
.main-right>div>ul{
  margin-left: 1.2rem;
  margin-right: 3rem;
}
.main-right>div>ul>li{
  margin: .7rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: .1rem;
}
.main-right>div>ul>li>div{
  display: grid;
  grid-template-columns: 1fr 3rem;
  font-size: .8rem;
  font-weight: 300;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main-right>div>ul>li>p{
  font-size: .75rem;
  opacity: .6;
}
.main-right>div>ul>div{
  margin: .7rem;
  display: flex;
  grid-gap: .7rem;
}
.main-right>div>ul>div>button{
  padding: .4rem 1.5rem;
  border-radius: .4rem;
  font-weight: 600;
  border: 1px solid blueviolet;
  color: blueviolet;
  cursor: pointer;
}
.uniqe{
  background-color: blueviolet;
  color: #fff !important;
}
.left-nav img{
  width: 3.5rem;
  height: 3.5rem;
}